    <h2 style="color: #00b4d8;">6-Month Dengue Fever Forecast</h2>

<div class="container">
  @if (nextSixMonths$(); as predicted) {
    <p>Current Month: <strong>{{ predicted.data.current_month }} {{ predicted.data.current_year }}</strong></p>
    <p>Prediction Date: <strong>{{ predicted.data.prediction_date  }}</strong>
    </p>
    <p>{{ predicted.data.message }}</p>

     <mat-accordion>
      @for (pred of predicted.data.predictions; track pred.month + pred.year) {
        <mat-expansion-panel>
          <mat-expansion-panel-header style="padding: 10px 30px 10px 30px; background-color: #00b4d8">
            <mat-panel-title>
              <mat-icon style="margin-right: 10px;"
             >access_time</mat-icon>
              {{ pred.month }} {{ pred.year }}
            </mat-panel-title>
            <mat-panel-description>
              Predicted: {{ pred.predicted_cases }} cases
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <div class="details">
            <h4>Weather Conditions</h4>
            <ul>
              <li><b>Avg Temp:</b> {{ pred.weather_conditions.avg_temp_c }} °C</li>
              <li><b>Precipitation:</b> {{ pred.weather_conditions.precipitation_mm }} mm</li>
              <li><b>Population Density:</b> {{ pred.weather_conditions.population_density }}</li>
              <li><b>Air Quality Index:</b> {{ pred.weather_conditions.air_quality_index }}</li>
            </ul>
          </div>
        </mat-expansion-panel>
      }
    </mat-accordion>
  }
</div>