<div class="sidenav-header">
    <!-- <img [width]="profileImageSize()" [height]="profileImageSize()" src="/src/app/assets/logo.jpg" alt="Logo" class="logo"> -->
    <!-- <img style="width: 20px; height: 20px;" src="/assets/logo.jpg" alt="Logo" class="logo"> -->

    <div class="header-text" [class.hide.header-text]="sideNavCollapsed()">
        <h2>Dengue Check</h2>
    </div>
</div>
<mat-nav-list>
    @for (item of menuItems(); track item){
        <a mat-list-item [routerLink]="item.route" routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive">
            <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
            @if(!sideNavCollapsed()){
            <span matListItemTitle>{{item.label}}</span>
            }
        </a>

    }
</mat-nav-list>