<h1 style="color: #00b4d8;">Dashboard</h1>


<div class="dashboard-widgets">
    @for(w of dashboardService.widgets(); track w.id){
    <div class="container">
        <div style="font-weight: bold; display: flex; justify-content: center; color: #00b4d8;">{{w.label}}</div>
        <div style="margin-top: 10px; display: flex; justify-content: center;">{{w.value}}</div>

    </div>

    }

</div>

<div style="display: flex; flex-direction: row; margin-top: 20px;">
    <div class="widget-container" style="margin-top: 20px;">
        <div style="font-weight: bold; color: #00b4d8">Predicted Monthly Results</div>
        <div class="monthly-card-container">
            <div style="color: #344e41;">
                Year:
            </div>
            <div style="margin-left: 20px;">
                {{ dengueMonthlyPredictions$().year }}
            </div>
        </div>

        <div class="monthly-card-container">
            <div>
                Target Month:
            </div>
            <div style="margin-left: 20px;">
                {{ dengueMonthlyPredictions$().month }}
            </div>
        </div>

        <div class="monthly-card-container">
            <div>
                Predicted Cases:
            </div>
            <div style="margin-left: 20px;">
                {{ dengueMonthlyPredictions$().predicted_cases }}
            </div>
        </div>

        <div class="monthly-card-container">
            <div>
                Raw Prediction:
            </div>
            <div style="margin-left: 20px;">
                {{ dengueMonthlyPredictions$().raw_prediction }}
            </div>
        </div>

    </div>

    <div class="widget-container2"
        style="margin-top: 20px; margin-left: 20px; display: flex; flex-direction: row; justify-content: space-between;">

        <div>
            <div style="color: #00b4d8; font-weight: bold;">
                Top 5 High Risk Countries
            </div>
            <div>
                @for (country of topFiveAffectedCountries$(); track $index) {
                <ul>
                    <li> {{ country.country }} – {{ country.cases }} cases</li>
                </ul>


                }
            </div>
        </div>
        <div>
            <div style="color: #00b4d8; font-weight: bold;">
                Top 5 High Risk Regions
            </div>
            <div>
                @for (region of topFiveAffectedRegions$(); track $index) {
                <ul>
                    <li> {{ region.region }} – {{ region.cases }} cases</li>
                </ul>


                }
            </div>
        </div>

    </div>

</div>
<div></div>


<div style="margin-bottom: 30px;">
    <h2>Chart</h2>
    <canvas id="barChart"></canvas>
</div>